<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test thread-count="5" name="Create the New Booking Test pay@online">
  <parameter name="action" value="pay@online"></parameter>
    <classes>
    
      <class name="testcases.BookingManagement">
      	<methods>
      		<include name="creatingBooking"></include>
      	</methods>
      </class>
      
      <class name="testcases.Paymentmanagement">
      	<methods>
      		<include name="applyDicount"></include>
      		<include name="makePayment"></include>
      	</methods>
      </class>
      
      <class name="testcases.CommunicationManagement">
      	<methods>
      		<include name="checkMailCommunication"></include>
      		<include name="checkMobileCommunication"></include>
      	</methods>
      </class>
         
    </classes>
  </test> <!-- Test -->
  
  
  <test thread-count="5" name="Create the New Booking Test pay@hotel">
  <parameter name="action" value="pay@hotel"></parameter>
    <classes>
    
      <class name="testcases.BookingManagement">
      	<methods>
      		<include name="creatingBooking"></include>
      	</methods>
      </class>
      
      <class name="testcases.Paymentmanagement">
      	<methods>
      		<include name="applyDicount"></include>
      		<include name="makePayment"></include>
      	</methods>
      </class>
      
      <class name="testcases.CommunicationManagement">
      	<methods>
      		<include name="checkMailCommunication"></include>
      		<include name="checkMobileCommunication"></include>
      	</methods>
      </class>
         
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
