<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FunctionalSuite">

  <test thread-count="5" name="chromeTest">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="testng.RadioButton1"/>
      <class name="testng.CheckBox1"/>
      <class name="testng.TNG_003"/>
      <class name="testng.LinksTesting1"/>
    </classes>
  </test> <!-- FunctionalTest -->
  
  
  <test thread-count="5" name="firefoxTest">
  <parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="testng.RadioButton1"/>
      <class name="testng.CheckBox1"/>
      <class name="testng.TNG_003"/>
      <class name="testng.LinksTesting1"/>
    </classes>
  </test> <!-- FunctionalTest -->
  
  
</suite> <!-- FunctionalSuite -->
